* {
    color: #e6e6e6;
    text-decoration: none;
    font-optical-sizing: auto;
    font-family: "Nunito", serif;
}

body {
    background-color: #262626;
}

a {
    color: #a347ff;
}

input {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 8px;
    border: 1px solid #e6e6e6;
    background-color: #0d0d0d;
    transition: border-color 0.25s ease;
}

input:focus {
    outline: none;
    border-color: #7f00ff;
}

.pure-button a {
    color: #e6e6e6;
}

.sidebar {
    width: 16em;
    padding: 1em;
    height: 100vh;
    position: fixed;
    background-color: #0d0d0d;
}

.sidebar-footer {
    bottom: 0;
    width: 16em;
    position: fixed;
}

.sidebar-footer p {
    color: #cccccc;
}

.logo {
    text-align: center;
    margin-bottom: 2em;
}

.pure-menu-list {
    padding: 0;
    margin-top: 8em;
    list-style: none;
}

.pure-menu-item {
    margin: 0.5em 0;
}

.pure-menu-link {
    display: block;
    padding: 0.5em;
    text-align: left;
    border-radius: 8px;
    text-decoration: none;
    background-color: #1a1a1a;
}

.pure-menu-link:hover {
    background-color: #cccccc;
}

.content {
    padding: 2em;
}

.card {
    margin: 1em;
    padding: 1em;
    overflow: hidden;
    border-radius: 8px;
    background: #1a1a1a;
    border: 1px solid #7f00ff;
}

.picture-title .picture-author {
    font-size: 1.5em;
    margin: 1em 0 0.5em;
}

.picture-date-created, .comment-date-created {
    color: #cccccc;
    font-style: italic;
}

.picture-image {
    border-width: 1px;
    border-radius: 8px;
    border-color: #7f00ff;
}

.button-main {
    color: #e6e6e6;
    border-radius: 8px;
    background-color: #a347ff;
}

.button-main:hover {
    border-radius: 8px;
    background-color: #7f00ff;
}

.button-danger {
    color: #e6e6e6;
    border-radius: 8px;
    background-color: #ff4747;
}

.button-danger:hover {
    border-radius: 8px;
    background-color: #ff0000;
}

.liked, .not-liked, .disliked, .not-disliked, .comment-button, .view-button, .icon {
    margin: 0;
    padding: 0;
    border-radius: 8px;
    vertical-align: middle;
}

.likes-icon, .dislikes-icon, .comments-icon, .views-icon {
    font-size: 1.5em;
}

.liked, .disliked {
    border: none;
    background-color: #7f00ff;
}

.not-liked, .not-disliked, .comment-button, .view-button {
    border: none;
    background-color: transparent;
}

.pure-table, .pure-table thead {
    text-align: center;
    vertical-align: middle;
}

.pure-table thead {
    background-color: #0d0d0d;
}

.following {
    border: 1px solid #7f00ff;
    background-color: transparent;
}

.not-following {
    border: none;
    background-color: #7f00ff;
}

.pfp {
    height: 64px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #7f00ff;
}

.large-label {
    font-size: 4em;
}

#canvas-card {
    width: 800px;
}

#canvas-card input {
    width: 750px;
}

#main-canvas {
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #7f00ff;
}

#landing-cards {
    justify-content: center;
}

#landing-cards .card {
    transition: background-color 0.25s ease;
}

#landing-cards .card:hover {
    background-color: #7f00ff;
}

#details {
    text-align: center;
}
