* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
}

body {
    color: #bfbfbf;
    text-decoration: none;
    background-color: #333333;
}

a {
    color: #a347ff;
    text-decoration: none;
}
