{% extends "base.html" %}


{% block title %}impressle | About{% endblock %}

{% block content %}
    <h1>
        About impressle
    </h1>


    <hr />


    <div class="card" id="about">
        <h2 id="slogan">
            Unleash your creativity!
        </h2>

        <p id="description">
            <b>impressle</b> is a unique social network where you have to draw by hand,
            not uploading image files. Follow your favorite artists, give likes to other users' pictures
            and make your own ones. It's fun, just try it!

            <br />
            <br />

            <i>
                See <a href="{{ url_for('views.faq') }}">Frequently Asked Questions</a> page for more details
            </i>
        </p>

        <p>
            By the way, this is an open source project, you can check the source code on
            <a href="https://github.com/desyatkoff/impressle">this GitHub repository</a>,
            and you can become a contributor if you want :)
        </p>
    </div>
{% endblock %}
