{% extends "base.html" %}


{% block title %}Impressle | Access the Admin Panel{% endblock %}

{% block content %}
    <h1 id="page-title">
        Welcome to the Admin Panel
    </h1>


    <p id="page-subtitle">
        <b>
            You have to provide the secret key to prove that you are an admin
        </b>
    </p>


    <hr />


    <div
        class = "card"
        id = "page-content"
    >
        <form method="POST">
            <label for="secret-key">
                Secret Key
            </label>
            <input
                id = "secret-key"
                type = "password"
                name = "secret-key"
                placeholder = "Secret Key"
            />

            <br />
            <br />

            <button
                type = "submit"
                class = "pure-button button-main"
            >
                Access the Admin Panel
            </button>
        </form>
    </div>
{% endblock %}
