{% extends "base.html" %}


{% block title %}impressle | Admin Panel{% endblock %}

{% block content %}
    <h1>
        Welcome back!
    </h1>
    <p>
        <b>
            Your Admin Dashboard is here:
        </b>
    </p>


    <div id="dashboard">
        <div id="users">
            <h1>
                Users
            </h1>


            <ol>
                {% for user in users %}
                    <li id="user-{{ user.uid }}">
                        <b>Database Row ID</b> - {{ user.id }}
                        <br />
                        <b>UID (actually unique ID)</b> - {{ user.uid }}
                        <br />
                        <b>Username</b> - @{{ user.username }}
                        <br />
                        <b>Date Created</b> - {{ user.date_created }} ({{ user.date_created.day }}.{{ user.date_created.month }}.{{ user.date_created.year }})
                        <br />
                        <b>Rank</b> - {{ user.rank }}
                        <br />
                        <b>XP (experience)</b> - {{ user.xp }}
                        <br />
                        <b>"About Me"</b> - {{ user.about_me }}
                    </li>
                {% endfor %}
            </ol>
        </div>

        <div id="pictures">
            <h1>
                Pictures
            </h1>


            <ol>
                {% for picture in pictures %}
                    <li id="picture-{{ picture.uid }}">
                        <b>Database Row ID</b> - {{ picture.id }}
                        <br />
                        <b>UID (actually unique ID)</b> - {{ picture.uid }}
                        <br />
                        <b>Title</b> - {{ picture.title }}
                        <br />
                        <b>Image</b> - <img src="{{ url_for('api.get_picture_by_uid', picture_uid=picture.uid) }}" alt="Picture" />
                        <br />
                        <b>Date Created</b> - {{ picture.date_created }} ({{ picture.date_created.day }}.{{ picture.date_created.month }}.{{ picture.date_created.year }})
                        <br />
                        <b>Author UID</b> - {{ picture.author_uid }}
                        <br />
                        <b>Author Username</b> - {{ picture.author_username }}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
