<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Unleash your creativity!" />
        <link
            rel = "icon"
            href = "{{ url_for('static', filename='images/logo.svg') }}"
            type = "image/svg+xml"
        />
        <link
            rel = "preconnect"
            href = "https://fonts.googleapis.com"
        />
        <link
            rel = "preconnect"
            href = "https://fonts.gstatic.com"
            crossorigin
        />
        <link
            rel = "stylesheet"
            href = "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        />
        <link
            rel = "stylesheet"
            href = "https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
            integrity = "sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
            crossorigin = "anonymous"
        />
        <link
            rel = "stylesheet"
            href = "https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"
        />
        <link
            rel = "stylesheet"
            href = "/static/styles/style.css"
        />
    </head>
    <body>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-4">
                <div class="sidebar sidebar-left">
                    <img
                        src = "/static/images/logo-full.svg"
                        alt = "impressle"
                        height = "64"
                        class = "logo pure-img"
                    />

                    <p class="slogan" align="center">
                        <b>
                            Unleash your creativity!
                        </b>
                    </p>

                    <ul class="pure-menu-list">
                        <li class="pure-menu-item">
                            <a
                                href = "{{ url_for('views.create_picture') }}"
                                class = "pure-menu-link pure-button button-main"
                            >
                                <img
                                    src = "/static/images/plus-square.svg"
                                    height = "32"
                                    class = "icon"
                                />
                                Create Picture
                            </a>
                        </li>
                        <li class="pure-menu-item">
                            <a
                                href = "{{ url_for('views.feed') }}"
                                class = "pure-menu-link pure-button"
                            >
                                <img
                                    src = "/static/images/compass.svg"
                                    height = "32"
                                    class = "icon"
                                />
                                Feed
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="pure-menu-item">
                                <a
                                    href = "{{ url_for('views.user_profile', username=user.username) }}"
                                    class = "pure-menu-link pure-button"
                                >
                                    <img
                                        src = "/static/images/user.svg"
                                        height = "32"
                                        class = "icon"
                                    />
                                    Profile (@{{ user.username }})
                                </a>
                            </li>
                            <li class="pure-menu-item">
                                <a
                                    href = "{{ url_for('views.user_settings') }}"
                                    class = "pure-menu-link pure-button"
                                >
                                    <img
                                        src = "/static/images/settings.svg"
                                        height = "32"
                                        class = "icon"
                                    />
                                    Settings
                                </a>
                            </li>
                        {% else %}
                            <li class="pure-menu-item">
                                <a
                                    href = "{{ url_for('auth.login') }}"
                                    class = "pure-menu-link pure-button"
                                >
                                    <img
                                        src = "/static/images/log-in.svg"
                                        height = "32"
                                        class = "icon"
                                    />
                                    Log In
                                </a>
                            </li>
                            <li class="pure-menu-item">
                                <a
                                    href = "{{ url_for('auth.signup') }}"
                                    class = "pure-menu-link pure-button"
                                >
                                    <img
                                        src = "/static/images/user-plus.svg"
                                        height = "32"
                                        class = "icon"
                                    />
                                    Sign Up
                                </a>
                            </li>
                        {% endif %}
                        <li class="pure-menu-item">
                            <a
                                href = "{{ url_for('views.about') }}"
                                class = "pure-menu-link pure-button"
                            >
                                <img
                                    src = "/static/images/info.svg"
                                    height = "32"
                                    class = "icon"
                                />
                                About
                            </a>
                        </li>
                        <li class="pure-menu-item">
                            <a
                                href = "{{ url_for('views.faq') }}"
                                class = "pure-menu-link pure-button"
                            >
                                <img
                                    src = "/static/images/info.svg"
                                    height = "32"
                                    class = "icon"
                                />
                                FAQ
                            </a>
                        </li>
                        {% if user.rank == "Admin" %}
                            <li class="pure-menu-item">
                                <a
                                    href = "{{ url_for('admin.panel') }}"
                                    class = "pure-menu-link pure-button"
                                >
                                    <img
                                        src = "/static/images/database.svg"
                                        height = "32"
                                        class = "icon"
                                    />
                                    Admin Panel
                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="pure-menu-item">
                                <a
                                    href = "{{ url_for('auth.logout') }}"
                                    class = "pure-menu-link pure-button"
                                >
                                    <img
                                        src = "/static/images/log-out.svg"
                                        height = "32"
                                        class = "icon"
                                    />
                                    Log Out
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="sidebar-footer">
                        <p>
                            <a href="{{ url_for('views.terms_of_service') }}">
                                Terms of Service
                            </a>
                            |
                            <a href="{{ url_for('views.privacy_policy') }}">
                                Privacy Policy
                            </a>
                        </p>
                        <p>
                            Copyright © 2025 impressle.
                            <br />
                            All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-3-4">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>


        <script
            type = "text/javascript"
            src = "/static/scripts/index.js"
        >
        </script>
    </body>
</html>
