{% extends "base.html" %}


{% block title %}impressle | Create a Picture{% endblock %}

{% block content %}
    <h1>
        Create a Picture
    </h1>


    <hr />


    <p>
        Let's Draw!
    </p>


    <form id="canvas-form" method="POST">
        <div class="card" id="canvas-card">
            <canvas id="main-canvas" width="800" height="600"></canvas>

            <hr />

            <input
                type = "hidden"
                id = "image-data"
                name = "image-data"
            />
            <input
                type = "text"
                id = "title"
                name = "title"
                placeholder = "Picture title"
            />


            <button
                class = "pure-button button-main"
                type = "submit"
            >
                Publish
            </button>
        </div>
    </form>


    <script type="text/javascript" src="/static/scripts/canvas.js"></script>
{% endblock %}
