{% extends "base.html" %}


{% block title %}impressle | Create a Picture{% endblock %}

{% block content %}
    <form id="canvas-form" method="POST">
        <canvas id="main-canvas" width="800" height="600"></canvas>
        <input
            type = "hidden"
            id = "image-data"
            name = "image-data"
        />
        <input
            type = "text"
            id = "title"
            name = "title"
            placeholder = "Picture title"
        />


        <button type="submit">
            Publish
        </button>
    </form>


    <script type="text/javascript" src="/static/scripts/canvas.js"></script>
{% endblock %}
