<div class="post" id="post_{{ post.id }}">
    <div class="post_info">
        <p class="post_title">
            {{ post.title }}
        </p>
        <p class="post_author">
            <a href="{{ url_for('views.user_profile', username=post.author_username) }}">
                @{{ post.author_username }}
            </a>
        </p>
    </div>
    <div class="post_image">
        <img src="{{ url_for('api.get_post_image_by_id', post_id=post.id) }}" alt="Post Image" />
    </div>
    <div class="post_likes">
        <span id="likes_count_{{post.id}}">
            {{ post.likes|length }}
        </span> 

        {% if user.id in post.likes|map(attribute="author_id")|list %}
            <button class="liked" id="like_button_{{ post.id}} " onclick="like({{ post.id }})"></button>
        {% else %}
            <button class="not_liked" id="like_button_{{ post.id }}" onclick="like({{ post.id }})"></button>
        {% endif %}
    </div>


    {% if user.id == post.author_id %}
        <div class="post_other">
            <form id="delete_post_form" method="POST" action="{{ url_for('views.delete_post', post_id=post.id) }}">
                <button type="submit">
                    <img src="/static/images/cross.png" height="16" />

                    Delete
                </button>
            </form>
        </div>
    {% endif %}
</div>
