<div class="comment" id="comment_{{ comment.id }}">
    <div class="comment_info">
        <p class="comment_author">
            <a href="{{ url_for('views.user_profile', username=comment.author_username) }}">
                @{{comment.author_username}}
            </a>
        </p>
        <p class="date_created">
            {{ comment.date_created.day }}.{{ comment.date_created.month }}.{{ comment.date_created.year }}
        </p>
    </div>
    <div class="comment_text">
        <p class="comment_text">
            {{ comment.text }}
        </p>
    </div>


    {% if user.id == comment.author_id %}
        <div class="comment_other">
            <form id="delete_comment_form" method="POST" action="{{ url_for('views.delete_comment', comment_id=comment.id) }}">
                <button type="submit">
                    <img src="/static/images/cross.png" height="16" />

                    Delete
                </button>
            </form>
        </div>
    {% endif %}
</div>
