{% extends "base.html" %}


{% block title %}impressle | Feed{% endblock %}

{% block content %}
    <h1>Feed</h1>


    <hr />


    {% if pictures|length > 0 %}
        <div class="pure-g" id="pictures">
            {% for picture in pictures %}
                {% if picture.status == "normal" %}
                    {% include "div_picture.html" %}

                    <br />
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <h1>
            It seems that there are no any Pictures... :(
        </h1>

        <br />

        <span>
            Let's fix this, click
            <button class="pure-button button-main">
                <a href="{{ url_for('views.create_picture') }}">Create a Picture</a>
            </button>,
            and impressle will not be empty
        </span>
    {% endif %}
{% endblock %}
