{% extends "base.html" %}


{%- block title -%}
    Impressle | {{ gettext("This Account is Inactive") }}
{%- endblock -%}

{% block content %}
    <h1 id="page-title">
        {{ gettext("This Account is Inactive") }}
    </h1>


    <p id="page-subtitle">
        <b>
            {{ gettext("Uh oh...") }}
        </b>
    </p>


    <hr />


    <div
        class = "card"
        id = "page-content"
    >
        <p>
            {{ gettext("You can no longer log in to this account. Why did that happened? Actual reasons:") }}

            <ul>
                <li>
                    {{ gettext("You deactivated this account intentionally (Settings -> Delete Account)") }}
                </li>
                <li>
                    {{ gettext("Your account may be deactivated because of inactivity (if you didn't visit Impressle for the last 30 days)") }}
                </li>
            </ul>

            {{ gettext("Try") }}
            <a href="{{ url_for('auth.signup') }}">
                {{ gettext("creating a new account") }}
            </a>
            {{ gettext("if you want to use Impressle") }}
        </p>
    </div>
{% endblock %}
