{% extends "base.html" %}


{% block title %}Impressle | Log In{% endblock %}

{% block content %}
    <h1 id="page-title">
        Welcome Back!
    </h1>


    <p id="page-subtitle">
        Here you can log in to your account
    </p>


    <hr />


    <div
        class = "card"
        id = "page-content"
    >
        <form method="POST">
            <label for="username">
                Username
            </label>
            <input
                type = "text"
                id = "username"
                name = "username"
                placeholder = "Username"
            />

            <br />

            <label for="password">
                Password
            </label>
            <input
                id = "password"
                type = "password"
                name = "password"
                placeholder = "Password"
            />

            <br />
            <br />

            <button
                type = "submit"
                class = "pure-button button-main"
            >
                Log In
            </button>


            <hr />


            <p>
                New to Impressle?
                <a href="{{ url_for('auth.signup') }}">
                    Sign Up
                </a>
            </p>
        </form>
    </div>
{% endblock %}
