{% extends "base.html" %}


{%- block title -%}
    Impressle | {{ gettext("Picture Search") }}
{%- endblock -%}

{% block content %}
    <h1 id="page-title">
        {{ gettext("Picture Search") }}
    </h1>


    <p id="page-subtitle">
        <b>
            {{ gettext("Find some pictures by your search query") }}
        </b>
    </p>


    <hr />


    <div id="page-content">
        {% if pictures|length > 0 %}
            <div
                id = "pictures"
                class = "pure-g"
            >
                {% for picture in pictures %}
                    {% if picture.status == "normal" %}
                        {% include "div_picture.html" %}

                        <br />
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="card">
                <h1>
                    {{ gettext("Could not find pictures for you... :(") }}
                </h1>

                <br />

                <span>
                    {{ gettext("Let's fix this, click") }}
                    <button class="pure-button button-main">
                        <a href="{{ url_for('routes.create_picture') }}">
                            {{ gettext("Create a Picture") }}
                        </a>
                    </button>,
                    {{ gettext("and Impressle will not be empty") }}
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}
