{% extends "base.html" %}


{% block title %}impressle | Sign Up{% endblock %}

{% block content %}
    <h1>
        Hello, new user!
    </h1>


    <hr />


    <p>
        <b>
            Let's create a new account
        </b>
    </p>


    <form method="POST">
        <div class="card">
            <label for="username">
                Username <span style="color: #ff4747;">*</span>
            </label>
            <input
                type = "text"
                id = "username"
                name = "username"
                placeholder = "Username"
                minlength = "4"
                maxlength = "16"
            />

            <br />

            <label for="password">
                Password <span style="color: #ff4747;">*</span>
            </label>
            <input
                type = "password"
                id = "password"
                name = "password"
                placeholder = "Password"
                minlength = "8"
                maxlength = "32"
            />

            <br />

            <label for="about-me">
                About Me
            </label>
            <input
                type = "text"
                id = "about-me"
                name = "about-me"
                placeholder = "About Me"
                maxlength = "64"
            />

            <br />
            <br />

            <label for="checkbox" class="pure-checkbox">
                <input
                    type = "checkbox"
                    id = "checkbox"
                    name = "checkbox"
                />
                I have read the
                <a href="{{ url_for('views.terms_of_service') }}">
                    Terms of Service
                </a>
                and
                <a href="{{ url_for('views.privacy_policy') }}">
                    Privacy Policy
                </a>
                <span style="color: #ff4747;">*</span>
            </label>

            <br />
            <br />

            <button type="submit" class="pure-button button-main">
                Sign Up
            </button>

            <br />
            <br />
            <br />

            <p>
                Already have an account? <a href="{{ url_for('auth.login') }}">Log In</a>
            </p>
        </div>
    </form>
{% endblock %}
