{% extends "base.html" %}


{%- block title -%}
    Impressle | @{{ user_profile.username }}
{%- endblock -%}

{% block content %}
    <div id="profile">
        <div
            class = "card"
            id = "profile-info"
        >
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <h1 align="left">
                        <img
                            class = "pfp pure-img"
                            alt = "Profile Picture"
                            src = "{{ url_for('static', filename='images/user.svg') }}"
                        />
                        @{{ user_profile.username }}


                        {% if user_profile.rank == "Admin" %}
                            <span class="admin-label">
                                {{ gettext("ADMIN") }}
                            </span>
                        {% endif %}

                        {% if user_profile.status == "inactive" %}
                            <span class="inactive-label">
                                {{ gettext("INACTIVE") }}
                            </span>
                        {% elif user_profile.status == "banned" %}
                            <span class="banned-label">
                                {{ gettext("BANNED") }}
                            </span>
                        {% endif %}
                    </h1>
                </div>
                <div class="pure-u-1-2" >
                    <p
                        align = "right"
                        class = "followers"
                    >
                        {% if user_profile.show_followers %}
                            <span>
                                <span class="followers-count" id="followers-count-{{ user_profile.uid }}">
                                    {{ user_profile.follows|length }}
                                </span>
                                {{ gettext("follower(s)") }}
                            </span>
                        {% endif %}

                        {% if user.uid != user_profile.uid %}
                            {% if user.uid in user_profile.follows|map(attribute="follower_uid")|list %}
                                <button
                                    onclick = "follow({{ user_profile.uid }})"
                                    id = "follow-button-{{ user_profile.uid }}"
                                    class = "button following pure-button button-main"
                                >
                                    {{ gettext("Unfollow") }}
                                </button>
                            {% else %}
                                <button
                                    class = "button not-following pure-button button-main"
                                    id = "follow-button-{{ user_profile.uid }}"
                                    onclick = "follow({{ user_profile.uid }})"
                                >
                                    {{ gettext("Follow") }}
                                </button>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>


            <hr />


            <h2 id="about-me">
                {{ gettext("About Me") }}
            </h2>

            <p>
                {% if user_profile.about_me %}
                    {{ user_profile.about_me }}
                {% else %}
                    <i>
                        {{ gettext("Nothing yet...") }}
                    </i>
                {% endif %}
            </p>


            <hr />


            <h2>
                {{ gettext("Account Details") }}
            </h2>

            <div id="details">
                <div class="pure-g">
                    <div class="pure-u-1-4">
                        <h3 id="user-id">
                            {{ gettext("User ID") }}
                        </h3>

                        <p>
                            {{ user_profile.uid }}
                        </p>
                    </div>

                    <div class="pure-u-1-4">
                        <h3 id="account-created">
                            {{ gettext("Account Created") }}
                        </h3>

                        <p>
                            {{ user_profile.date_created.strftime("%Y-%m-%d") }}
                        </p>
                    </div>

                    <div class="pure-u-1-4">
                        <h3 id="rank">
                            {{ gettext("Rank") }}
                        </h3>

                        <p>
                            {{ gettext(user_profile.rank) }}
                        </p>
                    </div>

                    <div class="pure-u-1-4">
                        <h3 id="">
                            {{ gettext("Karma") }}
                        </h3>

                        <p>
                            {{ user_profile.karma }}
                        </p>
                    </div>
                </div>
            </div>


            {% if user.uid == user_profile.uid %}
                <div id="edit-profile">
                    <hr />


                    <button class="pure-button button-main">
                        <a href="{{ url_for('routes.user_settings') }}">
                            {{ gettext("Edit Profile") }}
                        </a>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>


    {% if user_profile.pictures|count > 0 %}
        <div id="pictures">
            {% for picture in pictures %}
                {% if picture.status != "deleted" %}
                    {% include "div_picture.html" %}
            
                    <br />
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
