{% extends "base.html" %}


{% block title %}impressle | @{{ user_profile.username }}{% endblock %}

{% block content %}
    <div id="profile">
        <h1>
            Profile
        </h1>

        <div class="card" id="profile-info">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <h1 align="left">
                        @{{ user_profile.username }}
                        {% if user_profile.rank == "Admin" %}
                            <span style="color: #7f00ff">[ ADMIN ]</span>
                        {% endif %}
                        {% if user_profile.is_banned == True %}
                            <span style="color: red;">[ BANNED ]</span>
                        {% endif %}
                    </h1>
                </div>
                <div class="pure-u-1-2" >
                    <p class="followers" align="right">
                        <span>
                            <span class="followers-count" id="followers-count-{{ user_profile.uid }}">
                                {{ user_profile.follows|length }}
                            </span>
                            Followers
                        </span>

                        {% if user.uid != user_profile.uid %}
                            {% if user.uid in user_profile.follows|map(attribute="follower_uid")|list %}
                                <button class="button following pure-button button-main" id="follow-button-{{ user_profile.uid }}" onclick="follow({{ user_profile.uid }})">
                                    Unfollow
                                </button>
                            {% else %}
                                <button class="button not-following pure-button button-main" id="follow-button-{{ user_profile.uid }}" onclick="follow({{ user_profile.uid }})">
                                    Follow
                                </button>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>

            <table class="pure-table" align="center" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Account Created</th>
                        <th>Rank</th>
                        <th>XP</th>
                        <th>About Me</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user_profile.uid }}</td>
                        <td>{{ user_profile.date_created.day }}.{{ user_profile.date_created.month }}.{{ user_profile.date_created.year }}</td>
                        <td>{{ user_profile.rank }}</td>
                        <td>{{ user_profile.xp }}</td>
                        <td>{{ user_profile.about_me }}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        {% if user_profile.pictures|count > 0 %}
            <div id="pictures">
                <h1>
                    Pictures
                </h1>


                {% for picture in pictures %}
                    {% include "div_picture.html" %}
            
                    <br />
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
